h1{
    text-align: center;
    font-style: normal;
    background-color: darkseagreen;
}
h2{
    text-align: center;
    background-color: darkseagreen;
}
img{
    width: 1300px;

   
}
 #para
 {
    background-color: cornflowerblue;
    margin: 3px;
    border: 2px solid black;
 }